﻿* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow-x: hidden;
}
@font-face {
    font-family: "quicksand";
    src: url(../fonts/QuicksandLight-Regular.otf) format('opentype');
    src: url(../fonts/QuicksandLight-Regular.ttf) format('truetype');
    src: url(../fonts/QuicksandLight-Regular.eot) format('embedded opentype');
    src: url(../fonts/QuicksandLight-Regular.woff) format('woff');
    src: url(../fonts/QuicksandLight-Regular.woff2) format('woff2');
}

button:focus {
    outline: 0;
}

p, h1, h2, h3, h4, li, .nav-button {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

h1, h2, h3 {
    font-family: quicksand, Arial, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4.5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

.info, .quote {
    font-size: 3.2vh;
}

.quote {
    line-height: 3.5vh;
}

p, li {
    font-size: 1.85vh;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #4F4F4F;
}

a:hover {
    color: red;
    transition: 0.2s ease-in-out;
}

.caption {
    font-size: 1.7vh;
}

#linkedin-url, #jason-brown, #jason-headline { /*ONLY VISIBLE IN PRINT VIEW ON ABOUT PAGE*/
    display: none;
}

header {
    width: 100vw;
    height: 18vh;
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/assets/header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pendragon-logo {
    top: 0;
    margin-top: 2vh;
    left: 0;
    margin-left: 2vh;
    animation: logo-entry 0.75s linear;
    height: 10vh;
}

#pendragon-text-logo {
    position: absolute;
    z-index: 2;
    top: 0;
    color: red;
    margin-left: 8vw;
    margin-top: 5vh;
}

#pendragon-logo:hover, #pendragon-text-logo:hover {
    cursor: pointer;
    animation: jello 1s infinite;
}

#pendragon-text-logo:hover {
    text-shadow: 0px 0px 30px red;
    transition: .2s ease-in-out;
}

#nav {
    padding-left: 2vh;
}

.casestudy-navigator {
    background-color: #010219;
    width: 3.5vw;
    padding: 1vh;
    position: fixed;
    z-index: 3;
    border-radius: 0px 30px 30px 0px
}

.casestudy-navigator-button {
    border-radius: 100px;
    height: 4vh;
    width: 4vh;
    background-color: #AB5A03;
    border: none;
    outline: none;
}

@keyframes logo-entry {
    0% {
        transform: translateY(-100px);
    }

    100% {
        animation-delay: 2s;
        transform: translateY(0px);
    }
}

.flexbox {
    display: flex;
}

.sticky-nav {
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: #010219;
    width: 100vw;
}

.nav-button {
    height: 6vh;
    /*background-color: #181818;*/
    background-color: transparent;
    font-size: 1.75vh;
    border: none;
    padding: unset;
    color: white;
    padding-right: 2vw;
}

    .nav-button:hover, .nav-button:active:hover {
        color: red;
    }

.nav-button-sticky {
    height: 3vh;
    font-size: 1.5vh;
}

.small-font {
    font-size: 1.25vh;
}

.right {
    position: absolute;
    right: 0;
}

.button {
    background-color: #010219;
    color: white;
    padding: 1.5vh;
    font-size: 1.85vh;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
    border-radius: 25px;
}

    .button:hover {
        background-color: red;
    }

.dark-grey-section button {
    background-color: red;
}

    .dark-grey-section button:hover {
        background-color: #AB5A03;
    }

.dark-grey-section a {
    color: #C2C2C2;
}

.container {
    position: relative;
    padding: 2vw 10vw;
    background: white;
}

.container-pad, .pad {
    padding: 2vw 8vw !important;
}

.cotainer-pad {
    background: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url(../images/assets/footer.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    bottom: 0;
    margin-bottom: 0px;
    min-height: 25vh;
    padding: 2vw 10vw;
    color: white;
}

    footer a, footer a:visited {
        color: white;
        font-weight: normal;
        text-decoration: none;
    }

        footer a:hover {
            color: red;
            transition: 0.2s ease-in-out;
        }

        .img-full, .img-height {
            transition: 0.3s ease-in-out;
        }

.img-full {
    width: 100%;
}

.img-ffa {
    height: 85vh;
}

.img-half {
    width: 50%;
}

.img-75 {
    width: 75%;
}

.img-25 {
    width: 25%;
}

.img-40 {
    width: 40%;
}

.img-grid, .img-grid-bigger {
    padding-bottom: 2vh;
}

.img-grid {
    height: 30vh;
}

.img-grid-bigger {
    height: 45vh;
}

.circular {
    border-radius: 50%;
}

.job-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover {
    width: 40%;
    transition: 0.3s all ease-in-out;
}

.contact-buttons {
    height: 22vh;
    transition: 0.2s ease-in-out;
}

    .contact-buttons:hover {
        height: 26vh;
    }

.centre {
    text-align: center;
}

.copyright-info {
    text-align: center;
    padding-bottom: 2.5%;
}

.img-centre {
    text-align: center;
}

.img-centre-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centre {
    display: flex;
    justify-content: center;
}

.dark-blue-section {
    background-color: #244c6a;
    color: white;
}

    .dark-blue-section a {
        color: #C2C2C2;
    }

    .dark-blue-section a:hover {
        color: white;
        transition: 0.3s ease-in-out;
    }

.dark-red-section {
    background-color: #9D0D0B;
    color: white;
}

.light-grey-section {
    background-color: #EFEFED;
}

.dark-grey-section {
    background-color: #181818;
    color: white;
}

.black-section {
    background-color: black;
    color: white;
}

.broads-section {
    background-color: #2d3040;
    color: white;
}

.green-section {
    background-color: #0D6803 !important;
    color: white;
}

#cookie-policy {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100vw !important;
    transition: 0.2s ease-in-out;
}

.left-pad-small {
    padding-left: 5vw !important;
}

.left-pad {
    padding-left: 12vw !important;
}

.link {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.link:hover {
    color: red; 
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.blockquote-section, .data-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.blockquote-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url('../images/assets/quote.svg');
}

.data-section {
    background-image: url('../images/assets/chart.svg');
    filter: grayscale(100%);
}


/*Dragonbase Slideshow*/
.casestudy-hero, #dragonbase-slideshow {
    position: relative;
    width: 100%;
    height: 85vh;
    background-position: center;
    background-size: cover;
}

#dragonbase-slideshow, .slide-title, .slide-description, .hero-title, .hero-description, #home-hero {
    transition: .3s ease-in;
}

.slide-title, .slide-description, .hero-title, .hero-description, .outcome {
    z-index: 2;
}

.slideshow-buttons {
    position: absolute;
    z-index: 2;
    font-size: 4vh;
    margin-top: 37.5vh;
}

#dbs-prev {
    margin-left: 1vw;
}

#dbs-next {
    margin-left: 95.25vw;
    margin-right: 1vw;
}

#hero-description-container, .overlay {
    background: linear-gradient(0deg,rgba(1,2,25,0.4),rgba(0,0,0,0.4));
    width: 100%;
    height: 100%;
}

#hero-description-container {
    position: relative;
}

.hero-title {
    position: relative;
    left: 0;
    top: 30vh;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 10vh;
    text-shadow: 2px 2px #010219;
    color: red;
    line-height: 10vh;
}

.hero-description {
    color: white;
    font-size: 2vh;
    position: relative;
    left: 0;
    text-align: center;
    top: 32.5vh;
}

.outcome {
    position: relative;
    text-align: center;
    top: 35vh;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

.slideDown {
    animation: slideDownwards 0.8s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes slideDownwards {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(400px);
        display: none;
    }
}

.piechart {
    animation: piechart-spin 3s infinite;
}

@keyframes piechart-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/*Case study hero images*/
#nelliesnursery-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/nellies/nn-header.JPG');
}

#stellardrive-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/stellardrive/stellardrive.jpg');
}

#curat-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/curat/curat-1.jpg');
}

#redgate-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/redgate/redgate.jpg');
}

#userstory-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/userstory/userstory.jpg');
}

#broads-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/broads/broads.jpg');
}

#ffa-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/ffa/ffa.jpg');
}

#ews-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/ews/ews-hero.jpg');
}

#storehouse-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/storehouse/sh18.jpg');
}

#helpdesk-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/helpdesk/helpdesk.jpg');
}

#fosters-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/fosters/fosters.jpg');
}

#pendragon-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/assets/logo.svg');
}

#about-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/about/jason2.jpg');
}

#portfolio-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/home/portfolio.png');
}

#data-hero {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('../images/photography/night/night8.jpg');
}

#hamburger-button {
    display: none;
    float: right;
    top: 0;
    margin-top: 3vh;
    right: 0;
    margin-right: 2vh;
}

/*Responsive*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    header {
        height: 10vh;
    }

    #pendragon-logo {
        height: 7vh;
    }

    h1 {
        line-height: 5.5vh;
    }

    .info, .quote {
        font-size: 2.5vh;
    }

    .img-25, .img-40, .img-half, .img-75, .img-ffa {
        width: 100%;
    }

    .img-ffa {
        height: 100%;
    }

    .container {
        padding: 4vh;
    }

    .column {
        flex: unset;
        width: 100% !important;
    }

    .left-pad, .left-pad-small {
        padding-left: unset !important;
    }

    .hero-title {
        font-size: 4vh;
        line-height: 4vh;
    }

    .hero-description {
        line-height: 3vh;
    }

    #footer-col1, #footer-col3, #associated, #pendragon-text-logo {
        display: none;
    }

    .blockquote-section {
        background-size: unset;
    }

    #dbs-next {
        margin-left: 88.25vw;
    }
}

/*Mobile menu shared style*/
@media only screen and (max-width: 1024px) {
    #hamburger-button {
        display: block;
    }

    header {
        position: fixed;
        z-index: 10;
    }

    #nav {
        top: 0;
        display: none;
        background-color: #010219;
        z-index: 10;
        position: fixed;
        transition: 0.2s ease-in-out;
    }

    .nav-button {
        width: 100vw;
        text-align: center;
    }

    .flexbox {
        display: unset;
    }
    .right {
        margin-right: unset;
    }
}

/*Mobile menu portrait specific style*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    #nav {
        margin-top: 10vh;
        height: 31vh;
    }

    .nav-button {
        font-size: 3vh;
        height: 5vh;
    }
}

/*Landscape styles*/
@media only screen and (max-height: 450px) and (orientation: landscape) {
    /*Mobile menu*/
    #hamburger-button {
        font-size: 2vw;
        margin-top: 5vh;
    }
    #nav {
        margin-top: 14vh;
        height: 72.5vh;
    }

    .nav-button {
        font-size: 8vh;
        height: 11vh;
    }

    /*Logo*/
    #pendragon-logo {
        height: 6vw;
    }

    /*Font*/
    p, h1, h2, h3, h4, li, .nav-button {
        line-height: 3vw;
    }

    p, li, .button, .hero-description {
        font-size: 2vw;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2.75vw;
    }

    h3 {
        font-size: 2.6vw;
    }

    .info, .quote {
        font-size: 2.8vw;
    }

    .quote {
        line-height: 4vw;
    }

    .caption {
        font-size: 1.75vw;
    }

    /*Background images*/
    .blockquote-section {
        background-size: unset;
    }
}

@media only screen and (max-width: 376px) {
    #footer-col1, #footer-col2, #footer-col3 {
        display: none;
    }
}

/*PRINT*/
@media print {
    header, footer, .casestudy-hero, #tedx-video, .button, #related, #linkedin-hyperlink, #about-me {
        display: none;
    }
    #linkedin-url, #jason-brown, #jason-headline {
        display: block;
    }
    #jason-headline {
        font-weight: bold;
    }
    h1, h2, h3, p, li {
        color: black !important;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
    }
    h1, h2, h3 {
        line-height: 16pt;
    }
    h1 {
        font-size: 18pt;
    }
    h2, h3 {
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: normal;
    }
    h2 {
        font-size: 14pt;
    }
    h3 {
        font-size: 12pt;
    }
    p, li {
        font-size: 9pt;
    }
    .invert {
        filter: invert(100%);
    }
    .left-pad, .left-pad-small {
        padding: unset !important;
    }
    .job-logo img-25, .job-logo img-haf, .job-logo img-75 {
        width: unset;
        height: unset;
    }
    .job-description {
        flex: unset;
        width: 70% !important;
    }
    .jason-bio {
        flex: unset;
        width: 65% !important;
    }
    #jason-picture {
        margin-left:  60pt;
    }
}
