
.ux-diagram {
    width: 50vw;
}
.cls-18:hover {
    cursor: pointer;
    fill: #AB5A03;
    transition: 0.2s all;
}

/*DESKTOP*/
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    .ux-diagram {
        width: 70vw;
    }
}

@media only screen and (min-width: 800px) {
    #discover-explanation, #define-explanation, #develop-explanation, #deliver-explanation, #evolve-explanation, #user-explanation, #diagram-portfolio-button {
        opacity: 0;
    }

    .cls-1:hover, .cls-22:hover, .cls-30:hover {
        fill: black;
        cursor: pointer;
        transition: 0.3s all;
        color: white;
    }

    #uxdesktop {
        display: flex;
    }
    #uxmobile {
        display: none;
    }

    /*SVG STYLE*/
    .cls-1, .cls-22, .cls-30 {
        fill: #010219;
    }

    .cls-1 {
        stroke: #f79a06;
        stroke-width: 175px;
    }

    .cls-1, .cls-22, .cls-25, .cls-29, .cls-30 {
        stroke-miterlimit: 10;
    }

    .cls-2 {
        font-size: 535.58px;
    }

    .cls-18, .cls-2, .cls-23 {
        fill: red;
    }

    .cls-19, .cls-2, .cls-21, .cls-23, .cls-28 {
        font-family: ArialMT, Arial;
    }

    .cls-3 {
        fill: #913e22;
    }

    .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
        fill-rule: evenodd;
    }

    .cls-4 {
        fill: #a9bcc7;
    }

    .cls-5 {
        fill: #98c0d4;
    }

    .cls-6 {
        fill: #f5b67e;
    }

    .cls-7 {
        fill: #b5ccd8;
    }

    .cls-8 {
        fill: #f6c085;
    }

    .cls-9 {
        fill: #f8c997;
    }

    .cls-10 {
        fill: #abc3cf;
    }

    .cls-11 {
        fill: #c9e1ed;
    }

    .cls-12 {
        fill: #3e3b3a;
    }

    .cls-13 {
        fill: #d6825b;
    }

    .cls-14 {
        fill: #e5b17d;
    }

    .cls-15 {
        fill: #d33f27;
    }

    .cls-16 {
        fill: #e43f25;
    }

    .cls-17 {
        fill: #ed7f22;
    }

    .cls-19 {
        font-size: 275px;
    }

    .cls-19, .cls-21, .cls-26, .cls-27, .cls-28 {
        fill: #fff;
    }

    .cls-20 {
        letter-spacing: -0.02em;
    }

    .cls-21 {
        font-size: 250px;
    }

    .cls-22 {
        stroke: red;
        stroke-width: 125px;
    }

    .cls-23 {
        font-size: 400px;
    }

    .cls-24 {
        fill: #f9f9f9;
    }

    .cls-25 {
        fill: none;
        stroke: #f2f2f2;
        stroke-width: 61px;
    }

    .cls-27 {
        font-size: 1200px;
        font-family: Arial-Black, Arial;
        font-weight: 800;
    }

    .cls-28 {
        font-size: 230px;
    }

    .cls-29 {
        fill: #f2f2f2;
        stroke-width: 5px;
    }

    .cls-29, .cls-30 {
        stroke: #010219;
    }

    .cls-31 {
        letter-spacing: -0.07em;
    }
}

/*MOBILE*/
@media only screen and (max-width: 799px) and (orientation: portrait) {
    #discover-explanation-mobile, #define-explanation-mobile, #develop-explanation-mobile, #deliver-explanation-mobile, #evolve-explanation-mobile, #user-explanation-mobile, #diagram-portfolio-button-mobile {
        opacity: 0;
    }

    #uxmobilediagram {
        height: 225vw;
    }

    #uxmobile {
        display: flex;
    }
    #uxdesktop {
        display: none;
    }

    /*SVG STYLE*/
    .cls-1, .cls-10, .cls-13 {
        fill: #010219;
    }

    .cls-1 {
        stroke: red;
        stroke-width: 125px;
    }

    .cls-1, .cls-10, .cls-13, .cls-3, .cls-9 {
        stroke-miterlimit: 10;
    }

    .cls-2 {
        font-size: 332.35px;
    }

    .cls-14, .cls-2, .cls-31 {
        fill: red;
    }

    .cls-14, .cls-2, .cls-30, .cls-32, .cls-7 {
        font-family: ArialMT, Arial;
    }

    .cls-3 {
        fill: none;
        stroke: #f2f2f2;
        stroke-width: 61px;
    }

    .cls-4 {
        fill: #f9f9f9;
    }

    .cls-30, .cls-32, .cls-5, .cls-6, .cls-7 {
        fill: #fff;
    }

    .cls-6 {
        font-size: 997.05px;
        font-family: Arial-Black, Arial;
        font-weight: 800;
    }

    .cls-7 {
        font-size: 191.1px;
    }

    .cls-8 {
        letter-spacing: -0.02em;
    }

    .cls-9 {
        fill: #f2f2f2;
        stroke-width: 5px;
    }

    .cls-10, .cls-9 {
        stroke: #010219;
    }

    .cls-11 {
        letter-spacing: -0.07em;
    }

    .cls-12 {
        letter-spacing: 0em;
    }

    .cls-13 {
        stroke: #f79a06;
        stroke-width: 175px;
    }

    .cls-14 {
        font-size: 385.88px;
    }

    .cls-15 {
        fill: #d33f27;
    }

    .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29 {
        fill-rule: evenodd;
    }

    .cls-16 {
        fill: #f5b67e;
    }

    .cls-17 {
        fill: #e43f25;
    }

    .cls-18 {
        fill: #f6c085;
    }

    .cls-19 {
        fill: #f8c997;
    }

    .cls-20 {
        fill: #ed7f22;
    }

    .cls-21 {
        fill: #3e3b3a;
    }

    .cls-22 {
        fill: #d6825b;
    }

    .cls-23 {
        fill: #e5b17d;
    }

    .cls-24 {
        fill: #913e22;
    }

    .cls-25 {
        fill: #a9bcc7;
    }

    .cls-26 {
        fill: #98c0d4;
    }

    .cls-27 {
        fill: #b5ccd8;
    }

    .cls-28 {
        fill: #abc3cf;
    }

    .cls-29 {
        fill: #c9e1ed;
    }

    .cls-30 {
        font-size: 180.12px;
    }

    .cls-32 {
        font-size: 203.04px;
    }

    .cls-33 {
        letter-spacing: -0.02em;
    }
}

/*CUSTOM STYLE*/

/*ANIMATION CLASSES*/

/*Entrances*/
.bounce-in-right-animation {
    animation: bounceInRight 3s forwards;
}

.bounce-in-left-animation {
    animation: bounceInLeft 2s forwards;
}

.bounce-in-up-animation {
    animation: bounceInUp 3s forwards;
}

.bounce-in-down-animation {
    animation: bounceInDown 2s forwards;
}

.lightspeed-in-animation {
    animation: lightSpeedIn 3s forwards;
}

.zoom-in-down-animation {
    animation: zoomInDown 2s forwards;
}

.zoom-in-animation {
    animation: zoomIn 2s forwards;
}

.zoom-in-up-animation {
    animation: zoomInUp 2s forwards;
}

.zoom-in-left-animation {
    animation: zoomInLeft 2s forwards;
}

.zoom-in-right-animation {
    animation: zoomInRight 2s forwards;
}

.rotate-in-animation {
    animation: rotateIn 3s forwards;
}


/*Exits*/
.rotate-out-animation {
    animation: rotateOut 2s forwards;
}

.zoom-out-down-animation {
    animation: zoomOutDown 2s forwards;
}

.zoom-out-up-animation {
    animation: zoomOutUp 2s forwards;
}

.bounce-out-animation {
    animation: bounceOut 2s forwards;
}

.lightspeed-out-animation {
    animation: lightSpeedOut 2s forwards;
}

/*Fade ins*/
.fade-in-down {
    animation: fadeInDownBig 2s forwards;
    animation-delay: 1.5s;
}

.fade-in-up {
    animation: fadeInUpBig 2s forwards;
    animation-delay: 1.5s;
}

.fade-in-left {
    animation: fadeInLeftBig 2s forwards;
    animation-delay: 1.5s;
}

.fade-in-right {
    animation: fadeInRightBig 2s forwards;
    animation-delay: 1.5s;
}

.fade-in {
    animation: fadeIn 2s forwards;
    animation-delay: 1.5s;
}

.fade-in-up-std {
    animation: fadeInUp 2s forwards;
    animation-delay: 1.5s;
}

.fade-in-animation {
    animation: fade-in 1s forwards;
    animation-delay: 1.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

/*Attention seekers*/
.jello-animation {
    animation: jello 2s;
}

.wobble-animation {
    animation: wobble 2s;
}

.tada-animation {
    animation: tada 2s;
}

.swing-animation {
    animation: swing 2s;
}

.rubberband-animation {
    animation: rubberBand 2s;
    animation-delay: 4s;
}

